
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --font1: 'vardana', 'geneva', 'tahona', 'sans-sarif';
    --font2: 'passion one', 'cursive';
    --font3: 'sriracha', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;

}

html, body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--font1);

} 

header {

    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 15vh;
    

}

header > p {
    padding: 50px;
    font-size: 2em;
    

}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

header a:hover, footer a:hover {

    text-decoration: underline;
    color: blue;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vh;


}

section > p {
     padding-bottom: 2em;

}

section.normal {
    background-color: white;
    color: black;

}
section.imagem {
    background-color: rgb(58, 56, 56);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;

}

section.imagem > p {
    display: inline-block;
    background-color: rgba(37, 37, 37, 0.26);
    text-shadow: 1px 1px 0px black;

   
}


section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;

}

footer {
    background-color: black;color: white;
    text-align: center;
    padding: 10px;

}

